body {
    font-family: 'Mulish', sans-serif;
}
.titulo {
    padding: 0px 10px;
}

.titulos {
    font-size: 1.5rem;
    padding: 10px 0px;
}

.block {
    display: block;
    margin: 10px;
}

.borda {
    border: none;
}

.form-group-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.form-group {
    display: flex;
    justify-content: space-between;
    flex-basis: 49%;
    margin-bottom: 10px;
}
.form-group input {
    width: 95%;
}
header {
    display: flex;
    padding: 0px;
}
header div {
    display: flex;
    align-items: center;
}

header img {
    width: 150px;
    padding-top: 15px;
    background-origin: padding-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    width: 900px;
}

legend {
    font-weight: bold;
}

form div {
    display: flex;
    gap: 0.8rem;
}

main fieldset:nth-child(1) {
    display: flex;
    flex-direction: column;
}
