<!DOCTYPE html>
<html lang="en">
    <%- include('../partes-pages/head'); %>

    <body>
        <%- include('../partes-pages/header'); %>
        <%-include('../partes-pages/main'); %>
        <%-include('../partes-pages/footer'); %>
    </body>
</html>
