<header>
    <div>
        <img src="/corona.png" alt="logo" />
        <h1 class="titulo">Pesquisa COVID</h1>
    </div>
    <nav>
        <button>
            <a class="menu" href="vacina">Vacinação</a>
        </button>
        <button>
            <a class="menu" href="Sobre">Sobre</a>
        </button>
    </nav>
</header>
