<main>
    <fieldset class="borda">
        <legend class="titulos">Dados do paciente:</legend>

        <form action="/recebe-dados" method="post">
            <div class="form-group-container">
                <div class="form-group">
                    <label for="Nome">Nome:</label>

                    <input
                        type="text"
                        name="nome"
                        id="Nome"
                        placeholder="Escreva seu nome completo."
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="Nome">Idade:</label>

                    <input
                        type="number"
                        name="idade"
                        id="idade"
                        placeholder="digite sua idade."
                        required
                    />
                </div>

                <div class="form-group">
                    <label for="Localizacao">Cidade:</label>

                    <input
                        type="text"
                        name="local"
                        id="Localizacao"
                        placeholder="Digite a cidade onde reside."
                        required
                    />
                </div>

                <div class="form-group">
                    <label for="state">Estado:</label>

                    <input
                        type="text"
                        name="local"
                        id="state"
                        placeholder="Digite o estado onde reside."
                        required
                    />
                </div>
            </div>

            <h2 class="titulos">
                Você realizou recentemente o exame para detecção do COVID?
            </h2>

            <input
                type="radio"
                name="teste-COVID"
                id="positivo"
                value="positivo"
            />
            <label for="positivo">Sim</label>

            <input
                type="radio"
                name="teste-COVID"
                id="negativo"
                value="negativo"
            />
            <label for="negativo">Não</label>

            <h2 class="titulos">Você apresentou alguns dos sintomas abaixo?</h2>

            <input type="checkbox" name="febre" id="Febre" />
            <label for="Febre">febre</label>

            <input type="checkbox" name="Tosse" id="tosse" />
            <label for="tosse">Tosse</label>

            <input type="checkbox" name="faltaAr" id="pulmao" />
            <label for="pulmao">Falta de ar</label>

            <input type="checkbox" name="dor-corporal" id="dor-corporal" />
            <label for="dor-corporal">Dor no corpo</label>

            <input type="checkbox" name="nariz" id="olfato" />
            <label for="olfato">Perde de olfato</label>

            <input type="checkbox" name="diarreia" id="Diarreia" />
            <label for="Diarreia">Diarreia</label>

            <input type="checkbox" name="sem-sintomas" id="Sem-sintomas" />
            <label for="Sem-sintomas">Não apresentei nenhum sintoma.</label>

            <h2 class="titulos">
                Você frequentou nos ultimos 3 dias um local de alto risco de
                contaminação?
            </h2>

            <input type="radio" name="isolamento" id="visitou" />
            <label for="visitou">Sim</label>
            <label for="visitou">. Quais lugares?</label>

            <textarea
                class="block"
                name="visitas"
                id="lugares-visitou"
                cols="20"
                rows="5"
                placeholder="Digite os locais que visitou."
            ></textarea>

            <input type="radio" name="isolamento" id="isolado" />
            <label for="isolado">Não</label>

            <button class="block" type="submit">
                Enviar
                <i class="far fa-paper-plane"></i>
            </button>
        </form>
    </fieldset>
</main>
